MAIL_BIN_WORKER_NAME=mail-bin
MAIL_BIN_D1_DATABASE_NAME=mail-bin
MAIL_BIN_D1_DATABASE_ID=
MAIL_BIN_D1_PREVIEW_DATABASE_ID=
MAIL_BIN_APP_NAME=Mail Bin
MAIL_BIN_APP_ENV=production
MAIL_BIN_WORKERS_DEV=true
MAIL_BIN_PREVIEW_URLS=false
